@charset "UTF-8";

/* CSS Document */
#footer {
   position: static;
   bottom: 0;
   width: 100%;
   height: 50px;   /* Height of the footer */
}

#jsonResponseField
{
  height: auto;
}

#myChart
{
  display: inline-block;
}

.JSONButton
{
  display: inline-block;
  margin: auto;
}


.flexContainer
{
	display: flex;
}

.flexChild
{
  flex:  1;
}

.flexChild:first-child
{
  margin-right: 20px;
}

.element
{
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.center
{
  margin: auto;
  width: 50%;
  padding: 10px;
}